    body{
        background-color: aliceblue;
    }
    /*h3 {
        color: aqua;
        margin-left: 40px;
    }*/
    h2 {
        font-family: fantasy;
        color: crimson;
    }
    #output {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkblue;
    }
    .c1 {
        font-family: monospace;
    }
    .c2 {
        color: darkkhaki;
    }